<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3E2GFSK9XC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3E2GFSK9XC');
</script>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eisen</title>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>

</style>
</head>
<body class="bg-white">
    <header>
        <div class="flex items-center justify-between">
          <h1 class="text-2xl font-bold text-gray-800">EISENHOWER MATRIX</h1>
          <ul class="tabs flex">
            <li class="-mb-px mr-1">
              <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#" data-tab-target="tab1">탭 1</a>
            </li>
            <li class="mr-1">
              <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#" data-tab-target="tab2">탭 2</a>
            </li>
          </ul>
        </div>
        <button href="/login">구글 로그인</button>
      </header>
<div class="container mx-auto py-4 shadow">
<!-- 탭 컨텐츠 부분 -->
    <div id="tab1" class="tab-content active">
        <div class="matrix-grid">
            <div class="matrix-quadrant" data-quadrant="do-first" ondragover="allowDrop(event)" ondrop="drop(event)">
                <h2 class="font-bold text-gray-800">긴급하고 중요함</h2>
            </div>
            <div class="matrix-quadrant" data-quadrant="schedule" ondragover="allowDrop(event)" ondrop="drop(event)">
                <h2 class="font-bold text-gray-800">안급하고 중요함</h2>
            </div>
            <div class="matrix-quadrant" data-quadrant="delegate" ondragover="allowDrop(event)" ondrop="drop(event)">
                <h2 class="font-bold text-gray-800">급하고 안중요함</h2>
            </div>
            <div class="matrix-quadrant" data-quadrant="dont-do" ondragover="allowDrop(event)" ondrop="drop(event)">
                <h2 class="font-bold text-gray-800">안급하고 안중요함</h2>
            </div>
        </div>
        <div class="undecided-area" data-quadrant="undecided" ondragover="allowDrop(event)" ondrop="drop(event)">
            <h2 class="font-bold text-gray-800">우선순위 미배정</h2>
        </div>
            <button id="create-task" class="mt-4 px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 focus:outline-none">create new task</button>
    </div>
</div>
    <div id="tab2" class="tab-content hidden">
        <!-- 탭 2의 컨텐츠를 여기에 넣습니다 -->
    </div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>